src/Client/Service References/MyServer/item11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Request">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:complexType name="Response">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:complexType name="FaultReponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FaultReponse" nillable="true" type="tns:FaultReponse" />
</xs:schema>